/** @format */

.fMain {
  width: 100%;
  min-height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cc {
  display: inline-block;
  color: black;
}

.img1 {
  height: 22px !important;
  margin-left: 3px;
  vertical-align: text-bottom;
}

.link {
  color: black;
}
