/** @format */

.poleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.poles {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.pole {
  background-image: url("/pole.jpg");
  background-size: 100% 100%;
  width: 25px;
  height: 35px;
}
