/** @format */

.signin,
.signup {
  width: 456px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card,
.signInstart,
.signUpstart {
  background-color: darkgoldenrod;
}

.formButtonPrimary,
.button,
.button:hover {
  background-color: #252c36;
}

.footerAction,
.footerActionLink {
  color: #252c36;
  text-decoration: none;
}
